.scoreboard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 350px;
    transition: 0.3s;
    font-weight: bold;
    font-size: 40px;
    border: 1px solid green;
    border-radius: 5px;
    border-top: 10px solid green;
    font-family: 'Courier New';
    float: right;
}
